body {
	background-color:black;
	text-align: center;
}

.head,.per {
	font-family: Verdana;
	font-weight: normal;
	font-size: 50px;
	color: white;
	text-align: center;
}

.link {
	color: Aquamarine;
	font-size: 16px;	
	}
	
#cert {
	text-align: right;
	color: gray;
}

.expl {
	font-family: Verdana;
	font-weight: 21px;
	color: gray;
}

video {
	object-fit: contain;
}